@import '../../../scss/colors';
@import '../../../scss/mixins';

:host {
  display: inline-block;
}

.streamer {
  width: auto;
  max-width: 300px;
  padding: 1rem;
  // background: $dodger-blue;
  border-radius: 10px;
  display: inline-block;
  // font-size: 0;
  // &__left,
  // &__right {
  //   display: inline-block;
  //   vertical-align: middle;
  //   font-size: 1.4rem;
  // }
  // &__left {
  //   text-align: center;
  //   width: 15%;
  // }
  // &__right {
  //   text-align: left;
  //   width: 85%;
  // }
  &__btn-play-pause {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: transparent;
    color: $charcoal-grey;
    padding: 0.2rem;
    height: auto;
    margin-right: 10px;
    i {
      font-size: 1.6rem;
    }
    @include mq(desktop) {
      @include transition(color .3s);
    }
    &:hover {
      color: $charcoal-grey-lighten-10;
    }
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    color: $charcoal-grey;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: left;
    padding-bottom: 0.2rem;
  }
  &__title {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }
  &__time {
    font-size: 0.8em;
    display: inline-block;
    vertical-align: middle;
  }
}
