@import '../../../scss/main';
@import '../../../scss/keyframes';
@import "../../../scss/d3-tip";

.rfcx-map {
  display: block;
  width: 100%;
  height: 400px;
  .leaflet-control-layers-selector {
    margin: .4rem 5px;
    height: auto;
  }
  .leaflet-div-icon {
    &.rfcx-map-marker {
      background: transparent;
      border: none;
    }
  }
  .rfcx-map-marker {
    &.pulse {
      &:after {
        display: block;
        content: "";
        box-shadow: 0 0 6px 3px #30ac4a inset;
        animation: pulsate 1.5s ease-out;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -10px;
      }
    }
    .rfcx-map-marker-img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      z-index: 2;
    }
  }
}

.leaflet-popup {
  &.d3-tip {
    margin-bottom: 50px;
    min-width: 124px;
    .leaflet-popup-content-wrapper {
      color: inherit;
      background: transparent;
      border-radius: 0;
      @include box-shadow(none);
    }
    .leaflet-popup-content {
      margin: 0;
      line-height: inherit;
      width: auto !important;
      p {
        margin: 0 auto;
      }
    }
    .leaflet-popup-tip-container {
      display: none;
    }
  }
}
