<div class="incidents">
    <div class="incidents__inner incidents-nav" [ngClass]="{'mobile-filters-opened': mobileFiltersOpened}">
        <button class="icon-options incidents__mobile-filters-btn" (click)="toggleMobileFilters()"></button>
        <div class="incidents-nav__left">
            <h3 class="incidents__title"><span class="incidents__title-nophone">Incident </span>location &amp; frequency</h3>
        </div>
        <div class="incidents-nav__right" [ngClass]="{'mobile-opened': mobileFiltersOpened}">
            <div class="incidents-nav__inline-dropdown-wrapper incidents-nav__inline-dropdown-wrapper_type">
                <dropdown-checkboxes [block]="true" title="Event type" [items]="incidentTypes" [noborder]="true"
                    (onChange)="incidentsTypeChanged($event)" allItemsTitle="All incidents"></dropdown-checkboxes>
            </div>
            <div class="incidents-nav__inline-dropdown-wrapper incidents-nav__inline-dropdown-wrapper_range">
                <dropdown title="Range" [items]="daysCount" [noborder]="true" (onChange)="daysCountChanged($event)"></dropdown>
            </div>
            <div class="incidents-nav__inline-dropdown-wrapper incidents-nav__inline-dropdown-wrapper_date">
                <date-time-picker-incidents [maxDate]="maxDate" (onChange)="dateChanged($event)"
                    [disabled]="!currentDaysCount" [range]="currentDaysCount? currentDaysCount : 0"></date-time-picker-incidents>
            </div>
        </div>
    </div>

    <div class="incidents__inner incidents__inner_noresults" *ngIf="incidents && !incidents.length">
        <label>No incidents found for this period</label>
    </div>

    <rfcx-map *ngIf="mapDetails.lat && mapDetails.lon" [centerLat]="mapDetails.lat" [centerLon]="mapDetails.lon" [zoom]="mapDetails.zoom">
        <rfcx-basemap layerType="darkmatter"></rfcx-basemap>
        <rfcx-basemap layerType="positron"></rfcx-basemap>
        <ng-container *ngFor="let item of incidents">
            <rfcx-map-marker [lat]="item.coords.lat" [lon]="item.coords.lon"></rfcx-map-marker>
            <rfcx-map-pie *ngIf="!!item.diameter" [centerLat]="item.coords.lat"
                    [centerLon]="item.coords.lon" [diameter]="item.diameter" [data]="item.events"></rfcx-map-pie>
        </ng-container>
    </rfcx-map>

    <div class="incidents__inner incidents__inner_chart">
        <incidents-chart></incidents-chart>
    </div>

    <div class="incidents__inner incidents__inner_table">
        <incidents-table></incidents-table>
    </div>

    <div class="incidents__inner incidents__inner_download">
        <div class="incidents-download-data">
            <div class="incidents-download-data__left">
                <h3 class="incidents__title incidents-download-data__title">Download Data</h3>
                <p class="incidents-download-data__descr">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                </p>
            </div>
            <div class="incidents-download-data__right">
                <dropdown title="Choose format" [download]="true" [items]="formats" (onChange)="formatChanged($event)"></dropdown>
            </div>
        </div>
    </div>
</div>
<rfcx-footer></rfcx-footer>
