@import "../../scss/main";

.incidents {
    &__inner {
        padding-top: 3.6rem;
        padding-left: 13.125%;
        padding-right: 13.125%;
        @include mq(tablet) {
            padding-top: 2rem;
            padding-left: 5%;
            padding-right: 5%;
        }
        @include mq(phone) {
            padding: 2.8rem 6.5% 0;
        }
    }
    .incidents-nav {
        @include clearfix;
        margin-bottom: 2rem;
        font-size: 0;
        @include mq(phone) {
            position: relative;
            &.mobile-filters-opened {
                .incidents-nav__left {
                    padding-bottom: 2rem;
                    border-bottom-color: $white-two;
                    position: relative;
                    &:before,
                    &:after {
                        display: block;
                        position: absolute;
                        right: 11px;
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 6px 6px 6px;
                    }
                    &:before {
                        bottom: 0;
                        z-index: 1;
                        border-color: transparent transparent #dfdfdf transparent;
                    }
                    &:after {
                        bottom: -1px;
                        z-index: 2;
                        border-color: transparent transparent #fff transparent;
                    }
                }
            }
        }
        &__left {
            padding-top: 0.4rem;
            float: left;
            width: 40%;
            @include mq(phone) {
                border-bottom: 1px solid transparent;
                float: none;
                width: 100%;
                padding-top: 0;
                text-align: left;
            }
        }
        &__right {
            float: right;
            width: 60%;
            text-align: right;
            @include mq(phone) {
                max-height: 0;
                overflow: hidden;
                float: none;
                width: 100%;
                text-align: left;
                &.mobile-opened {
                    @include transition(max-height 1.5s ease);
                    max-height: 500px;
                }
            }
        }
        &__inline-dropdown-wrapper {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            &_type {
                width: 130px;
                margin: 0 4px;
            }
            &_range {
                width: 100px;
                margin: 0 10px;
            }
            &_date {
                width: 148px;
                date-time-picker-incidents {
                    display: inline-block;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__title {
        text-transform: uppercase;
        margin: 0;
    }
    &__title-nophone {
        @include mq(phone) {
            display: none;
        }
    }
    &__mobile-filters-btn {
        display: block;
        width: 30px;
        height: 3rem;
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        line-height: 3rem;
        font-size: 1.8rem;
        color: $charcoal-grey;
        position: absolute;
        top: 2.5rem;
        right: 7%;
        z-index: 5;
        @include mq(tabletAndDesktop) {
            display: none;
        }
    }
    .rfcx-map {
        height: 384px;
    }
}
