@import "../../scss/main";

.incidents {
    &__inner {
        padding-top: 3.6rem;
        padding-left: 13.125%;
        padding-right: 13.125%;
        @include mq(tablet) {
            padding-top: 2rem;
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    .incidents-nav {
        @include clearfix;
        margin-bottom: 2rem;
        font-size: 0;
        &__left {
            padding-top: 0.4rem;
            float: left;
            width: 40%;
        }
        &__right {
            float: right;
            width: 60%;
            text-align: right;
        }
        &__inline-dropdown-wrapper {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            &_type {
                width: 130px;
                margin-right: 8px;
            }
            &_range {
                width: 100px;
                margin-right: 20px;
            }
            &_date {
                width: 160px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__title {
        text-transform: uppercase;
        margin: 0;
    }
    .rfcx-map {
        height: 384px;
    }
}
