@import "../../../scss/main";

incidents-chart {
  display: block;
  overflow: hidden;
  .incidents-svg {
    display: block;
    margin: 0 auto;
    overflow: visible;
  }
}

.axis {
  path, line {
    shape-rendering: crispEdges;
  }
  &.x {
    path {
      stroke: $pinkish-grey;
    }
    .tick {
      line {
        // display: none;
      }
      text {
        fill: $charcoal-grey;
        opacity: 0.89;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.1px;
      }
    }
  }
  &.y {
    path {
      display: none;
    }
    .tick {
      line {
        fill: $pinkish-grey;
        stroke-dasharray: 1,2;
      }
      text {
        fill: $warm-grey;
      }
      &:first-of-type {
        line {
          display: none;
        }
      }
    }
  }
}

.bar {
  fill: rgba(34, 176, 163, 0.5);
}

.bar0 {
  fill: rgba(34, 176, 163, 1);
}

.bar1 {
  fill: rgba(240, 65, 84, 1);
}

.bar2 {
  fill: rgba(245, 166, 35, 1);
}

.bar3 {
  fill: rgba(145, 10, 120, 1);
}

.bar4 {
  fill: rgba(45, 110, 120, 1);
}

.bar5 {
  fill: rgba(255, 250, 120, 1);
}

.bar6 {
  fill: rgba(25, 250, 120, 1);
}

.bar7 {
  fill: rgba(25, 25, 12, 1);
}

.bar8 {
  fill: rgba(255, 205, 100, 1);
}

.bar9 {
  fill: rgba(80, 80, 100, 1);
}
