@import "../../../scss/main";

incidents-chart {
  display: block;
  overflow: hidden;
  .incidents-svg {
    display: block;
    margin: 0 auto;
    overflow: visible;
  }
}

.axis {
  path, line {
    shape-rendering: crispEdges;
  }
  &.x {
    path {
      stroke: $pinkish-grey;
    }
    .tick {
      line {
        // display: none;
      }
      text {
        fill: $charcoal-grey;
        opacity: 0.89;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.1px;
      }
    }
  }
  &.y {
    path {
      display: none;
    }
    .tick {
      line {
        fill: $pinkish-grey;
        stroke-dasharray: 1,2;
      }
      text {
        fill: $warm-grey;
      }
      &:first-of-type {
        line {
          display: none;
        }
      }
    }
  }
}

.d3-tip {
  display: block;
  padding: .4rem 40px 0.8rem 11px;
  color: $white;
  background: $charcoal-grey;
  z-index: 10000;
  border-radius: 4px;
  @include box-shadow(0 2px 8px 0 rgba(0, 0, 0, 0.1));
  &__row {
    color: $white;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.6rem;
    &_date {
      font-weight: bold;
    }
  }
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: auto;
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent $charcoal-grey transparent;
  }
  &.n {
    &:after {
      top: 100%;
      bottom: auto;
      border-width: 6px 6px 0 6px;
      border-color: $charcoal-grey transparent transparent transparent;
    }
  }
}

.bar-group {
  @include transition(opacity .3s);
  &.transparented {
    opacity: 0.6
  }
}

.bar {
  fill: rgba(34, 176, 163, 0.5);
}
