<div class="input-group js-datetimepicker date-time-picker-rfcx" [ngClass]="{'opened': isOpened}">
  <label class="input-group-addon date-time-picker-rfcx__label" [ngClass]="{'disabled': disabled}">
    <span class="date-time-picker-rfcx__label-text">{{label}}</span>
    <input type="text" class="input-group-addon js-datetimepicker-input date-time-picker-rfcx__input"
            [disabled]="disabled" [ngModel]="selectedDate"/>
    <span class="icon-chevron-down"></span>
    <span class="icon-chevron-up"></span>
  </label>
</div>
