@import '../../../scss/main';

:host {
    display: inline-block;
}

.date-time-picker-rfcx {
    &__input {
        display: none;
    }
    span.input-group-addon {
        background: $white-two;
        border-color: $pinkish-grey;
        &:hover {
            cursor: pointer;
            border-color: $warm-grey;
            outline: none;
        }
        &.disabled {
            border-color: $white-two;
            cursor: no-drop;
        }
    }
    .bootstrap-datetimepicker-widget {
        border: none;
        @include box-shadow(0 0 8px 0 rgba(0, 0, 0, 0.2));
        &.dropdown-menu {
            width: 272px;
            padding: 1.7rem 1.9rem 1.9rem;
            z-index: 10000;
            border-radius: 4px;
            left: auto !important;
            right: -10% !important;
            margin: 0;
            top: 4.0rem !important;
            &:before,
            &:after {
                display: none;
            }
        }
        .picker-switch {
            color: $charcoal-grey;
            font-size: 1.4rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6rem;
        }
        li {
            margin: 0;
        }
        table {
            th {
                &.dow {
                    color: $warm-grey;
                    font-size: 1.4rem;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.6rem;
                    padding-top: 2.5rem;
                    padding-bottom: 2.1rem;
                }
                &[data-action="previous"] {
                    padding-right: 10px;
                }
                &[data-action="next"] {
                    padding-left: 10px;
                }
            }
            td {
                &.day {
                    color: $charcoal-grey;
                    padding: 0.7rem 0 0.8rem;
                    span {
                        width: 25px;
                        height: 2.5rem;
                        line-height: 2.3rem;
                        margin: 0;
                        cursor: inherit;
                        border-radius: 50%;
                        border: 1px solid transparent;
                    }
                    &:hover {
                        background: transparent;
                        span {
                            background: transparent;
                            border-color: $watermelon;
                        }
                    }
                }
                &.old,
                &.new {
                    color: $warm-grey;
                }
                &.disabled {
                    color: $white-two;
                    span,
                    span.disabled {
                        color: $white-two;
                    }
                    &:hover {
                        span {
                            border-color: transparent;
                        }
                    }
                }
                &.active {
                    background: none;
                    text-shadow: none;
                    span {
                        background: $watermelon;
                        color: $white;
                        border-color: $watermelon;
                    }
                    &:hover {
                        span {
                            background: $watermelon;
                            border-color: $watermelon;
                        }
                    }
                }
                &.today {
                    &:before {
                        display: none;
                    }
                    span {
                        border-color: $warm-grey;
                    }
                    &.disabled {
                        &:hover {
                            span {
                                border-color: $warm-grey;
                            }
                        }
                    }
                }

                .month,
                .year {
                    height: 2.5rem;
                    line-height: 2.3rem;
                    border: 1px solid transparent;
                    &:hover {
                        background: transparent;
                        border-color: $watermelon;
                    }
                    &.active {
                        background: $watermelon;
                        border-color: $watermelon;
                        text-shadow: none;
                        color: $white;
                    }
                    &.disabled {
                        color: $white-two;
                    }
                }
                .month {
                    width: 32px;
                }
                .year {
                    width: 40px;
                }
            }
        }
    }
}
