$watermelon: #ff4155;
$squash: #f5a623;
$medium-green: #2fb04a;
$charcoal-grey: #323a45;
$dodger-blue: #4a90ff;
$tealish: #23b0a3;
$white-two: #dfdfdf;
$pinkish-grey: #cacaca;
$warm-grey: #979797;
$white-three: #fbfbfb;
$white: #fff;

$dodger-blue-darken-10: #3177E6;
$white-darken-10: #E6E6E6;

$warm-grey-lighten-10: #B1B1B1;
