$color-red: #ff4155;
$color-orange: #F5A623;
$color-green: #2FB04A;
$color-teal: #23B0A3;
$color-blue: #4A90FF;
$color-blue-grey: #323A45;
$color-grey-05: #FBFBFB;
$color-grey-10: #DFDFDF;
$color-grey-20: #CACACA;
$color-grey-30: #979797;
