@import "mixins";
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.hide-on-phone {
  @include mq(phone) {
    display: none;
  }
}

.hide-on-tablet {
  @include mq(tablet) {
    display: none;
  }
}

.hide-on-desktop {
  @include mq(desktop) {
    display: none;
  }
}
