@import "./colors";

.d3-tip {
  display: block;
  padding: .4rem 40px 0.8rem 11px;
  color: $white;
  background: $charcoal-grey;
  z-index: 10000;
  border-radius: 4px;
  @include box-shadow(0 2px 8px 0 rgba(0, 0, 0, 0.1));
  &__row {
    color: $white;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.6rem;
    &_date {
      font-weight: bold;
    }
    &_stream {
      padding-top: 0.5rem;
    }
  }
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: auto;
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent $charcoal-grey transparent;
  }
  &.n {
    &:after {
      top: 100%;
      bottom: auto;
      border-width: 6px 6px 0 6px;
      border-color: $charcoal-grey transparent transparent transparent;
    }
  }
  &__btn {
    background: $dodger-blue;
    height: auto;
    color: $white;
    outline: none;
    @include mq(desktop) {
      @include transition(all .3s);
    }
    &:active,
    &:focus {
      color: $white;
      background: $dodger-blue;
    }
    &:hover {
      color: $white;
      background: $dodger-blue-darken-10;
    }
  }
}
