<div class="incidents alerts">
  <div class="incidents__inner incidents-nav" [ngClass]="{'mobile-filters-opened': mobileFiltersOpened}">
    <button class="icon-options incidents__mobile-filters-btn" (click)="toggleMobileFilters()"></button>
    <div class="incidents-nav__left">
      <h3 class="incidents__title">Incident alerts</h3>
    </div>
    <div class="incidents-nav__right" [ngClass]="{'mobile-opened': mobileFiltersOpened}">
      <spinner [size]="30" [ngClass]="{'loading': isLoading}"></spinner>
      <div class="incidents-nav__inline-dropdown-wrapper incidents-nav__inline-dropdown-wrapper_site" *ngIf="sitesList && sitesList.length">
        <dropdown-checkboxes [block]="true" title="Site" [items]="sitesList" [noborder]="true" (onChange)="siteChanged($event)"
          allItemsTitle="All sites"></dropdown-checkboxes>
      </div>
      <div class="incidents-nav__inline-dropdown-wrapper incidents-nav__inline-dropdown-wrapper_type">
        <dropdown-checkboxes [block]="true" title="Event type" [items]="incidentTypes" [noborder]="true" (onChange)="incidentsTypeChanged($event)"
          allItemsTitle="All incidents"></dropdown-checkboxes>
      </div>
    </div>
  </div>

  <rfcx-map *ngIf="mapDetails.lat && mapDetails.lon" [centerLat]="mapDetails.lat" [centerLon]="mapDetails.lon"
    [zoom]="mapDetails.zoom" [maxZoom]="mapDetails.maxZoom" [data]="mapIncidents">
    <rfcx-basemap layerType="darkmatter"></rfcx-basemap>
    <rfcx-basemap layerType="positron"></rfcx-basemap>
    <rfcx-basemap layerType="satellite"></rfcx-basemap>
    <ng-container *ngFor="let ranger of rangers">
      <rfcx-map-marker [lat]="ranger.coords.lat" [lon]="ranger.coords.lon" [type]="'ranger'"
                       [data]="ranger" (onArrowCreated)="onArrowCreated($event)"></rfcx-map-marker>
    </ng-container>
    <ng-container *ngFor="let item of incidents">
      <rfcx-map-marker [lat]="item.coords.lat" [lon]="item.coords.lon" [pulseOpts]="item.pulseOpts" [type]="item.type"
                       [popupHtml]="item.html" [data]="item" (onPlayClick)="onPlayClicked($event)"></rfcx-map-marker>
    </ng-container>
    <ng-container *ngFor="let bounds of currentSiteBounds">
      <rfcx-map-site-bound [bounds]="bounds"></rfcx-map-site-bound>
    </ng-container>
  </rfcx-map>

  <div class="streamer-wrapper">
    <rfcx-streamer *ngIf="currentAudioGuid" [audioGuid]="currentAudioGuid" [autoplay]="autoplayStream" [title]="streamTitle"></rfcx-streamer>
  </div>
  <div class="row alerts-notifications" *ngIf="incidents && incidents.length">
    <form class="col-md-4 col-md-offset-4 alerts-notifications__form">
      <p class="alerts-notifications__descr">You will be able to send an alert to rangers near the incident</p>
      <div class="row form-group" *ngIf="rangerMessage.rangerGuid">
        <div class="col-md-12">
          <label for="rangerMessageGuid">Ranger</label>
          <input type="text" class="input alerts-notifications__input" name="rangerGuid" id="rangerMessageGuid"
                 [(ngModel)]="rangerMessage.rangerGuid" placeholder="Ranger" readonly disabled>
        </div>
      </div>
      <div class="row form-group" *ngIf="rangerMessage.coords">
        <div class="col-md-6">
          <label for="rangerMessageLat">Latitude</label>
          <input type="text" class="input alerts-notifications__input" name="lat" id="rangerMessageLat"
                 [(ngModel)]="rangerMessage.coords.lat" placeholder="Latitude" readonly disabled>
        </div>
        <div class="col-md-6">
          <label for="rangerMessageLon">Latitude</label>
          <input type="text" class="input alerts-notifications__input" name="lon" id="rangerMessageLon"
                 [(ngModel)]="rangerMessage.coords.lon" placeholder="Longitude" readonly disabled>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-8">
          <input type="text" class="input alerts-notifications__input"
                 placeholder="Message (optional)" disabled>
        </div>
        <div class="col-md-4">
          <button class="button button_danger" type="submit" disabled>Send</button>
        </div>
      </div>
    </form>
  </div>
</div>

<rfcx-footer></rfcx-footer>
