@import "../../scss/main";
@import "../../scss/incidents";

.alerts {
  .rfcx-map {
    height: 500px;
    .d3-tip__row {
      text-transform: capitalize;
    }
  }
  .streamer-wrapper {
    text-align: center;
  }
  .streamer {
    margin: 2rem auto;
  }

  .alerts-notifications {
    margin-bottom: 3rem;
  }

  .alerts-streaming-mode {
    margin-bottom: 2rem;
    &__label {
      margin: 0 0 1rem;
    }
  }

  .alerts-notifications-form {
    &__controls {
      position: relative;
      spinner {
        position: absolute;
        top: 50%;
        right: 5%;
        @include translate(-50%, -50%);
      }
    }
  }
}
