@-webkit-keyframes uil-default-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes uil-default-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.uil-default-css > div:nth-of-type(1) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: -0.35s;
    animation-delay: -0.35s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(2) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: -0.29166666666666663s;
    animation-delay: -0.29166666666666663s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(3) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: -0.23333333333333334s;
    animation-delay: -0.23333333333333334s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(4) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: -0.17500000000000002s;
    animation-delay: -0.17500000000000002s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(5) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: -0.11666666666666667s;
    animation-delay: -0.11666666666666667s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(6) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: -0.05833333333333329s;
    animation-delay: -0.05833333333333329s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(7) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: -0.00000000000000001s;
    animation-delay: -0.00000000000000001s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(8) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: 0.05833333333333329s;
    animation-delay: 0.05833333333333329s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(9) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: 0.11666666666666664s;
    animation-delay: 0.11666666666666664s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(10) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: 0.17500000000000004s;
    animation-delay: 0.17500000000000004s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(11) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: 0.2333333333333334s;
    animation-delay: 0.2333333333333334s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
.uil-default-css > div:nth-of-type(12) {
    -webkit-animation: uil-default-anim 0.7s linear infinite;
    animation: uil-default-anim 0.7s linear infinite;
    -webkit-animation-delay: 0.29166666666666663s;
    animation-delay: 0.29166666666666663s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: auto;
    height: auto;
}
