html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;
    touch-action: manipulation;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -ms-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
    -webkit-perspective-origin: top left;
    /* fallback for old browsers */
    font-size: 14px;
    font-size: 1.4rem;
}
