<div class="container styleguide">
    <div class="page-header">
        <h2>Colors</h2>
    </div>
    <div class="color-swatches">
        <div class="color-swatch color-red">
            <div class="color-swatch__name">$color-red</div>
        </div>
        <div class="color-swatch color-orange">
            <div class="color-swatch__name">$color-orange</div>
        </div>
        <div class="color-swatch color-green">
            <div class="color-swatch__name">$color-green</div>
        </div>
        <div class="color-swatch color-teal">
            <div class="color-swatch__name">$color-teal</div>
        </div>
        <div class="color-swatch color-blue">
            <div class="color-swatch__name">$color-blue</div>
        </div>
        <div class="color-swatch color-blue-grey">
            <div class="color-swatch__name">$color-blue-grey</div>
        </div>
        <div class="color-swatch color-grey-05">
            <div class="color-swatch__name">$color-grey-05</div>
        </div>
        <div class="color-swatch color-grey-10">
            <div class="color-swatch__name">$color-grey-10</div>
        </div>
        <div class="color-swatch color-grey-20">
            <div class="color-swatch__name">$color-grey-20</div>
        </div>
        <div class="color-swatch color-grey-30">
            <div class="color-swatch__name">$color-grey-30</div>
        </div>
    </div>

    <div class="page-header">
        <h2>UI</h2>
    </div>
    <div class="styleguide__row">
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="input" placeholder="Input placeholder" value="">
                <p class="styleguide__code">input.input</p>
            </div>
            <div class="col-md-4">
                <input type="text" class="input error" placeholder="Input placeholder" value="">
                <p class="styleguide__code">input.input.error</p>
            </div>
            <div class="col-md-4">
                <input type="text" class="input" placeholder="Input placeholder" value="" disabled>
                <p class="styleguide__code">input.input[disabled]</p>
            </div>
        </div>
    </div>
    <div class="styleguide__row">
        <div class="row">
            <div class="col-md-4">
                <button class="button">Click me</button>
                <p class="styleguide__code">button.button</p>
            </div>
            <div class="col-md-4">
                <button class="button button_block">Click me</button>
                <p class="styleguide__code">button.button.button_block</p>
            </div>
            <div class="col-md-4">
                <button class="button" disabled>Click me</button>
                <p class="styleguide__code">button.button[disabled]</p>
            </div>
        </div>
    </div>
</div>
