<div class="container">
    <div class="page-header">
        <h2>Colors</h2>
    </div>
    <div class="color-swatches">
        <div class="color-swatch color-red">
            <div class="color-swatch__name">$color-red</div>
        </div>
        <div class="color-swatch color-orange">
            <div class="color-swatch__name">$color-orange</div>
        </div>
        <div class="color-swatch color-green">
            <div class="color-swatch__name">$color-green</div>
        </div>
        <div class="color-swatch color-teal">
            <div class="color-swatch__name">$color-teal</div>
        </div>
        <div class="color-swatch color-blue">
            <div class="color-swatch__name">$color-blue</div>
        </div>
        <div class="color-swatch color-blue-grey">
            <div class="color-swatch__name">$color-blue-grey</div>
        </div>
        <div class="color-swatch color-grey-05">
            <div class="color-swatch__name">$color-grey-05</div>
        </div>
        <div class="color-swatch color-grey-10">
            <div class="color-swatch__name">$color-grey-10</div>
        </div>
        <div class="color-swatch color-grey-20">
            <div class="color-swatch__name">$color-grey-20</div>
        </div>
        <div class="color-swatch color-grey-30">
            <div class="color-swatch__name">$color-grey-30</div>
        </div>
        </div>
</div>
