<div class="dropdown dropdown-rfcx"
    [ngClass]="{'dropup': dropup === true, 'block': !!block, 'download': !!download, 'noborder': !!noborder}">
  <button class="btn btn-default dropdown-toggle" type="button" id="'dropdownMenu' + elementId"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" [disabled]="!items.length || !!disabled">
    {{items.length? (currentItem? currentItem.label : title) : 'No items'}}
    <span class="icon-chevron-down"></span>
    <span class="icon-download"></span>
    <span class="icon-chevron-up"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="'dropdownMenu' + elementId">
    <li *ngFor='let item of items'>
        <a href="javascript:void(0)" (click)="changeValue(item)">{{item.label}}</a>
      </li>
  </ul>
</div>
