<footer class="rfcx-footer">
    <div class="rfcx-footer__inner">
        <div class="rfcx-footer__left">
            <h3 class="rfcx-footer__title">Rainforest Connection</h3>
            <p class="rfcx-footer__descr">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
            </p>
            <div class="rfcx-footer__social">
                <a href="https://www.facebook.com/RainforestCx/" target="_blank"
                    class="rfcx-footer__social-link" title="RFCx on Facebook" rel="noopener noreferrer">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/rainforestcx" target="_blank"
                    class="rfcx-footer__social-link" title="RFCx on Twitter" rel="noopener noreferrer">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/user/RfcxOrg" target="_blank"
                    class="rfcx-footer__social-link" title="RFCx on YouTube" rel="noopener noreferrer">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/rfcx" target="_blank"
                    class="rfcx-footer__social-link" title="RFCx on Github" rel="noopener noreferrer">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="rfcx-footer__right">
            <div class="rfcx-footer__link-col">
                <h3 class="rfcx-footer__title">Learn More</h3>
                <ul class="rfcx-footer__list">
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Features</a>
                    </li>
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Partners</a>
                    </li>
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Get Involved</a>
                    </li>
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Education</a>
                    </li>
                </ul>
            </div>
            <div class="rfcx-footer__link-col rfcx-footer__link-col_support">
                <h3 class="rfcx-footer__title">Support</h3>
                <ul class="rfcx-footer__list">
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Help</a>
                    </li>
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Terms of service</a>
                    </li>
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Privacy Policy</a>
                    </li>
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Security</a>
                    </li>
                </ul>
            </div>
            <div class="rfcx-footer__link-col rfcx-footer__link-col_about">
                <h3 class="rfcx-footer__title">About</h3>
                <ul class="rfcx-footer__list">
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Team</a>
                    </li>
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Blog</a>
                    </li>
                    <li class="rfcx-footer__list-item">
                        <a class="rfcx-footer__link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
